body{
/* background-image:url('resources/IMAGE/K2yuC15.jpg'); */
}
#top01,#top02 {
	
	display: block;
	float:right;
	text-align: right;
}


li {
	list-style-type: none;
	font-size:10pt;
	color: black;
}
#holder{

	
	width: 250px;
	height: 250px;
	background-image: url('../IMAGE/defaultprofile.PNG');
	

}
.id, .password{

	border: 1px solid lightgray;
	padding: 5px;
	
}


#profileForm input[type=text], input[type=password]{
	text-align: right;
	width: 250px;
	border: 1px solid lightgray;
	padding: 18px;
	
	}
#phone{

margin-top: 80px;

}
li.Age{

}	
#profileForm2{
	
}	
#profileForm{
/* 	margin:auto;   */
	  
	border:1px solid black; /* 지워야함 */
	width: 400px;
	height: 550px;
	background-image:url('');
	
}
.FirstName{
	margin-left: 290px;
}
ul li.FirstName{
	
}
#birthday{
	width: 220px;
	height:50px;
}
#love{
	width: 220px;
	height:50px;
}
#top00{
	height:110px;
	border: 3px solid red; /* 지워야함 */
	/* background-color: skyblue; */
}	

span.btn_Update{
/* 	background-image:url('../images/Blur-Backgrounds-980x551.jpg'); */
	/* float: left; */
	
	margin-top: 100px;
	margin-left: 40px;
	background-color:skyblue;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;	
	padding: 10px 10px 10px 10px;
	cursor: pointer;
	color: black;
	
}

span.btn_Update2{
/* 	background-image:url('../images/Blur-Backgrounds-980x551.jpg'); */
	/* float: left; */
	margin-left:260px;
	background-color:skyblue;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;	
	padding: 10px 10px 10px 10px;
	cursor: pointer;
	color: black;
	
}





/* 사이드바 래퍼 스타일 */
#page-wrapper {
	padding-left: 250px;
}

#sidebar-wrapper {
	position: fixed;
	width: 250px;
	height: 100%;
	margin-left: -250px;
	background: #000;
	overflow-x: hidden;
	overflow-y: auto;
}

#page-content-wrapper {
	width: 100%;
	padding: 20px;
}

/* 사이드바 래퍼 스타일 */
#page-wrapper {
	padding-left: 250px;
}

#sidebar-wrapper {
	position: fixed;
	width: 250px;
	height: 100%;
	margin-left: -250px;
	border:1px solid lightgray;
	overflow-x: hidden;
	overflow-y: auto;
}

#page-content-wrapper {
	width: 100%;
	padding: 20px;
}

/* 사이드바 스타일 */
.sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
   /*  color: #999; */
   color:black;
}

.sidebar-nav li a:hover {
    color: #rgb(206,209,199);
    background: rgba(255,255,255,0.2);
}

.sidebar-nav > .sidebar-brand {
    font-size: 1.3em;
    line-height: 3em;
}
.sidebar-brand a:hover{
	border-left:3px solid black;
}

<!-- 구분 -->
.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}